# Gradle 관련 파일 및 디렉토리
/build/
.gradle/
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA 관련 파일
.idea/
.gradle/caches/
.gradle/wrapper/dists/


*.iml
*.pyc
__pycache__/

build/
dist/
*.egg-info/

# properties
# 챌린지 참여를 위해 github 공유
# application.yml